.heroContainer {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.title {
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  background: linear-gradient(45deg, #1e293b 30%, #2563eb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: -1.5px;
}

.subtitle {
  color: var(--slate-700);
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
  .heroContainer {
    padding: 3rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}
